[submodule "home/.emacs.d/emacs-color-theme-solarized"]
	path = home/.emacs.d/emacs-color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
	branch = master
[submodule "home/.vim/bundle/vim-pathogen"]
	path = home/.vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
	branch = master
[submodule "home/.vim/bundle/vim-airline"]
	path = home/.vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
	branch = master
[submodule "home/.vim/bundle/vim-easymotion"]
	path = home/.vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
	branch = master
[submodule "home/.vim/bundle/vim-colors-solarized"]
	path = home/.vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
	branch = master
[submodule "home/.vim/bundle/syntastic"]
	path = home/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
	branch = master
[submodule "home/.vim/bundle/vim-sensible"]
	path = home/.vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible
	branch = master
[submodule "home/.vim/bundle/vim-repeat"]
	path = home/.vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat
	branch = master
[submodule "home/.vim/bundle/vim-surround"]
	path = home/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
	branch = master
[submodule "home/.vim/bundle/molokai"]
	path = home/.vim/bundle/molokai
	url = https://github.com/tomasr/molokai
	branch = master
[submodule "home/.vim/bundle/ctrlp.vim"]
	path = home/.vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
	branch = master
[submodule "home/.vim/bundle/vim-unimpaired"]
	path = home/.vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
	branch = master
[submodule "home/.vim/bundle/vim-fugitive"]
	path = home/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
	branch = master
[submodule "home/.vim/bundle/tcomment_vim"]
	path = home/.vim/bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim
	branch = master
[submodule "home/.vim/bundle/tabular"]
	path = home/.vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
	branch = master
